div,
article,
section,
header,
footer,
nav,
li					{ position:relative; /* For absolutely positioning elements within containers (add more to the list if need be) */ }
.group:after 		{ display:block; height:0; clear:both; content:"."; visibility:hidden; /* For clearing */ }
body 				{ background:#fff; /* Don't forget to style your body to avoid user overrides */ }
::-moz-selection 	{ background:#ff0; color:#333; }
::selection 		{ background:#ff0; color:#333; }


// Typography--------------------------------
body,
input,
textarea 			{ font-weight:300; }

h1,
h2,
h3,
h4,
h5,
h6 					{ font-weight:400; /* This helps to identify headings at the initial build stage, but you should write something more precise later on */ }

body{font-family:$body-family;color:$black;}

h1,h2,h3,h4,h5,h6{
	font-family:$header-family;
	color:$grayDark;
}

h1{
	@include adjust-font-size-to(36px);
}
h2{
	@include adjust-font-size-to(28px);
}

h3{
	@include adjust-font-size-to(21px);
}
p{
	@include trailer();
}
a{
	text-decoration: none;
	color:$black;
}
th, #wooshop th {font-weight:500;}



/* Retina Display
@media screen and (-webkit-min-device-pixel-ratio:2) {

					{ Place your styles here for all 'Retina' screens }

}

*/

/*
 * Lists
 */
ul{
	padding:0;
}
li{
	list-style-type:none;

}

blockquote{
	margin-left:0;
}


/*
 * Responsive images
 *
 * Fluid images for posts, comments, and widgets
 */
article img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
	max-width: 100%;
}

/* Make sure images with WordPress-added height and width attributes are scaled correctly. */
.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
}

img.size-full,
img.size-large,
img.wp-post-image {
	height: auto;
	max-width: 100%;
}

/* Make sure videos and embeds fit their containers. */
embed,
iframe,
object,
video {
	max-width: 100%;
}

/* Override the Twitter embed fixed width. */
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important;
}

/* Images */
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption{
	border:4px solid $grayLighter;
	&.alignnone img{
		width:100%;
	}
	background:$grayLighter;
}

img.alignleft {
	margin: 5px 20px 5px 0;
}

.wp-caption.alignleft {
	margin: 5px 10px 5px 0;
}

img.alignright {
	margin: 5px 0 5px 20px;
}

.wp-caption.alignright {
	margin: 5px 0 5px 10px;
}

img.aligncenter {
	margin: 5px auto;
}

img.alignnone {
	margin: 5px 0;
	width:100%;
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
	color: $gray;
	font-size: 0.825em;
	font-weight: 700;
	font-family:$header-family;
}
p.wp-caption-text{margin: 0 1em;}

img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol  {
	list-style-position: inside;
}

