/* Layout ------------------------------------------------------------------*/
html{min-height:100%;}
body{margin:0;}


#global-menu{
	@include pie-clearfix();
.menu{
	width:100%;
	margin:0 auto;
@media screen and (min-width:  961px) {
	max-width:960px;
	}

}
}
.container{
	width:90%;
	margin:0 auto;
@media screen and (min-width:  961px) {
		width:100%;
	max-width:960px;
	}
}

#header {
	background:transparent url(img/60opacity.png);
	margin:0 auto;
	@include pie-clearfix;
}
#loginbasketgroup{
	height:30px;
	max-width:960px;
	.loginarea,.cart-contents, .telephone{
		float:right;
		margin-left: 20px;
	}
}
#brandingsearch{
	padding-top:32px;
	width:100%;
}
#search-container{
	width:100%;
	@media screen and (min-width: 761px) {
	    width:53%;
	    float:right;
	}

}

nav.shop-nav{
	border-top:1px solid $grayLight;
	border-bottom:1px solid $grayLight;
	ul{
		margin:0;
	}
	li{
		@include inline-block;
	}
}

.related{
	clear:both;
}
footer{
	background: $grayDark;
	width:100%;
	.colophon{
		width:90%;
		max-width:960px;
		margin:2em auto;
		@include cf();
		color:$white;
		line-height:1;
		font-size:0.625em;
		padding-bottom:2em;
		a{color:$grayLighter;}

		.copyright{
			padding-top:4em;
			@include cf();
		}
		.cards{padding-top:2.6em;}
		.security{
			width:100%;
			margin:2em auto;
		}
		.seal{width:108px;}
	}


}
#footer{
	background:$grayDark;
	margin:0 auto;
	padding:32px 16px 0 16px;
	font-size:0.75em;
	max-width:960px;
	color:$grayLighter;
	@include cf();
	a{color:$grayLighter;}
	ul{
		width:90%;
		margin:auto;
		margin-bottom:2em;
		@media screen and (min-width: 761px) {
			width:30%;
			margin-right: 3%;
			float:left;
		}
	}
}



/************** pages ***************/

h1 {
text-align:center;
background:$white;
}
