
/***************MODULES******************/


#secondarymenu{
	margin-top:30px;
	position: fixed;
	background:$white;
	width: 150px;
	padding-left:10px;
	z-index:100;
	border:1px solid $grayLight;
	border-top:none;
	&.stashed {
		top:-100%;
	}
}
#loginbasketgroup{
	font-size:0.8714em;
	z-index:101;//always higer than secondary menu
	background:$white;
	.menu-icon{
		padding-right:10px;
	}
	a.telephone{
		display:none;
		@media screen and (min-width: 480px) {
		    display:block;
		}
	}
}

nav.shop-nav{
	li{
		font-size:0.75em;
		margin-right:2em;
		text-transform:uppercase;
		a{color:$gray;}
	}
}

input#s{
		width:75%;
		margin-bottom:0;
	}
input#searchsubmit{
	width:20%;padding:5px;
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

h2.product_title{
	text-transform: capitalize;
	margin-bottom:0;
}

#footer {
	img{float:left;}
}

#welcomeblock{
	padding:0.8125em 1.625em;
	border-bottom:1px solid $grayLight;
    border-top:1px solid $grayLight;
	margin:0;
	p{overflow:hidden;margin-bottom:0.8125em;}
	h3{
		color:$gold;
		margin:0;
		padding-top:0.8125em;
		padding-left:0;
		margin-left:0;
		font-family: $body-family;
		font-weight:300;
		font-size:1.5625em;
		@media screen and (min-width: 761px){
			float:left;
			width:50%;
		}
	}
}

table.shop_attributes{
	th{
		text-align: left;
	}
}
//help
/********** pricelist for beautique & studio ***/


.productdetail{
	border-radius: 5px;
	border:1px solid $gray;
	a{color:$white;}
	a:hover{color:$gold;}
	h3{
		font-size:2.1em;
		margin-bottom: 0;
		padding:0.5em;
	}
	p{
		margin:0;
		font-style: italic;
	}
	h4.price{
		@include inline-block;
		float:right;
		text-align:right;
		background:$gold;
		margin-bottom:0;
		padding:0.5em;
		border-bottom-right-radius: 5px;
		border-top-left-radius: 5px;
		font-weight:700;
		font-size:1.6em;
		&:hover{cursor: pointer;}
	}
		form.paypal-btn{
		@include inline-block;
		float:right;
		text-align:right;
		background:$gold;
		margin-bottom:0;
		padding:0.1em;
		border-bottom-right-radius: 5px;
		border-top-left-radius: 5px;
		font-weight:700;
		font-size:1.6em;
		input{
			color:$white;
			font-family:$header-family;
			font-weight: 700;
			background:none;
			border:none;
			&:hover{cursor:pointer;}
			&:active{border:none;}
		}
	}
	&.equalheight {
		h4.price,form.paypal-btn{
			position:absolute;
			bottom:0;
			right:0;
		}
	}
}

.vcard{
	.org .tel{
		font-size:1.25em;
		font-weight:700;
		text-transform: uppercase;
		font-family:$header-family;
	}
	.adr {
		margin-top: 1.625em;
	}
	p{
		margin-top: 0;
	}
}


@media screen and (min-width: 761px) {
    .pullquote{
	width:40%;
	float:right;
	margin-left:5%;
	padding-left:5%;
	.apostrophe{
		font-size:6em;
		color:$gold;
		font-family:georgia, serif;
		vertical-align: bottom;
		line-height:0.1;
	}
	p {
		font-size:1.3em;
		font-weight:700;
		line-height:1.5;
		margin-bottom:0;
	}
}

}

span.gold{color:$gold;}

.wpcf7-form{
p{
	margin:0;
}
}


#main .gallery {
	padding:2em 10%;
	max-width: 960px;
	.gallery-item{
		width:100%;
	}
	img{
		border:4px solid $grayLighter;
		box-shadow: -2px 2px 2px $gray;
	}
	@media screen and (min-width: 761px) {
		.gallery-item{
			width:33.33333%;
		}
	}
}


/******************SHOP STYLES******************/

#wooshop{
	width:100%;
	.products{
		font-size:1em;
		li{
			position:relative;
			width:45%;
			margin-right:10%;
			&:nth-child(2n){margin-right:0;}
			&.first{clear:none;}
			a.button{
				width:87%;
				font-size: 0.871em;
				text-align:center;
			}
			h3{
				font-family:$body-family;
				font-weight:300;
				text-transform:lowercase;
				font-variant: small-caps;
				color:grayDark;
				a &{color:$grayDark;}
			}
		}
	}
	.product{
		top:24px;
	}
	.entry-summary {
		h2{
			line-height:1.333333em;
		}
		.price{
			margin-top:0;
		}
	}
	#tab-description h2 {
		display:none;
	}
	input.minus{
		top:15px;
	}
	nav.woocommerce-breadcrumb{
		font-size: 0.5em;
		text-transform:lowercase;
	}
	h1.product_title.entry-title{
		&:before,&:after{
			position:relative;
			border:none;
		}
		font-size:2em;
		max-width:100%;
	}

span.onsale{z-index:5;}

	@media screen and (min-width: 480px) {
			margin:0 auto;
	   ul.products{
			font-size:1em;
			li{

				width:30%;
				margin-right:5%;
				&:nth-child(2n){margin-right:5%;float:left;}
				&:nth-child(3n){margin-right:0;}
                &.product{clear:none;&:nth-child(3n+1){clear:left;}}

				a.button{
					width:93%;
					font-size: 0.871em;
				}
			}
		}

	}

}


/****************Overrides************/
#wooshop{
	 .woocommerce-message, .woocommerce-message {
    border-top: 3px solid $gold;
	}


	.woocommerce-message:before, .woocommerce-page .woocommerce-message:before{
		background-color:$gold;
	}

	#content input.button.alt, #respond input#submit.alt, a.button.alt, button.button.alt, input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt {
		font-weight:400;
	    background: linear-gradient($gold 0px, darken($gold,5%) 100%);
	    border-color: #76456C;
	    color: #FFFFFF;
	    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
	    &:hover{
	    	background: linear-gradient(saturate($gold,10%) 0px, saturate(darken($gold,5%),10%) 100%);
	    border-color: #76456C;
	    }
	}
	.variations label, div.product form.cart .variations label, .woocommerce-page #content div.product form.cart .variations label, .woocommerce-page div.product form.cart .variations label, #content .quantity input.qty, .quantity input.qty, .woocommerce-page #content .quantity input.qty, .quantity input.qty, .button, .woocommerce-tabs ul.tabs a{
		font-weight:400;
	}
	.thumbnails .attachment-shop_thumbnail{
		width:90px;
	}
}

.cycle-slideshow{
	border-top:8px solid $black;
}
.cycle-slide{
	width:100%;
	margin:0;
	padding:0;
	img{
        display:block;
		margin:0;
		padding:0;
		width:100%;
		height:auto;
	}
}
.caption_overlay{
	background:transparentize($white,.2);
	h3{text-align: center;
		text-transform: uppercase;
		margin-top: 0;
	}
	@media screen and (min-width: 761px){
		padding:1em;
		width:40%;
		position:absolute;
		top:26px;
		left:26px;
	}
}
#slider-nav{
	position:absolute;
	bottom:50%;
	width:95%;
	margin-left:2.5%;
	z-index:101;
	@include pie-clearfix;
	a{
		width:48px;
		height:48px;
		text-indent:-9999px;
		outline:0;
		&#next{
			float:right;
			background:url(img/next.png) no-repeat;
			background-size:contain;
			-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/next.png', sizingMethod='scale')";

		}
		&#prev{
			float:left;
			background:url(img/previous.png) no-repeat;
			background-size:contain;
			-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/previous.png', sizingMethod='scale')";
		}
	}
	@media screen and (min-width: 761px){

	bottom:10%;
	}
}

.cycle-pager {
  color: $gold;
  height: 35px;
  margin-top: -13px;
  text-align: center;
  z-index: 12;
  span {
  	cursor: pointer;
	  font-size: 48px;
	  &.cycle-pager-active {
		color:lighten(saturate($gold,10%),10%);
	  }
	}
}

#fl-woo-share .fb_iframe_widget.fb-like>span{
	vertical-align: baseline !important;
}

#fl-woo-share{
	#fb-root{display:inline-block;}
}

.archive .term-description p {font-size:0.5em;line-height:1.5;}